@font-face {
  font-family: DINPro;
  src: url("@/assets/font/DINPro-Regular.otf");
}

@font-face {
  font-family: DINPro-Regular;
  src: url("@/assets/font/DINPro-Regular.otf");
}

@font-face {
  font-family: DINPro-Medium;
  src: url("@/assets/font/DINPro-Medium.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi;
  src: url("@/assets/font/ALIBABA-PUHUITI-REGULAR.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi-Regular;
  src: url("@/assets/font/ALIBABA-PUHUITI-REGULAR.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi-Medium;
  src: url("@/assets/font/ALIBABA-PUHUITI-MEDIUM.ttf");
}

@font-face {
  font-family: Source Han Sans CN;
  src: url("@/assets/font/SourceHanSansCN-Medium.otf");
}